<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3><%= t('pluralize.micropost', count: 2) %> (<%= @user.microposts.count %>)</h3>
      <ol class="microposts" id="microposts">
        <%= render @microposts %>
      </ol>
      <%# usersコントローラー内でUserオブジェクトでないMicropostオブジェクトを
          ページネーションするので、対象を明示的に指定する -%>
      <div id="infinite-scrolling">
        <div id="loader"></div>
        <%= will_paginate @microposts %>
      </div>
    <% end %>
  </div>
</div>
